body{
    background-image: url("Backgroundimg.jpg") ;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    
}



h1{
    font-family: "Algerian", sans-serif ;
    color: white;
    padding: 5%;
}

p{
    
    font-family: "Console", sans-serif ;
    color: white;
    background: transparent ;
    text color:;
    padding: 1%;
    border-radius: 2%;
    
}
/* Add background color to navbar */
.nav {
    background-color: black;
    overflow: hidden;
}
/*Style the links inside the nav bar*/

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color of the links on hover*/
.nav:hover {
    background-color: green;
    color: black;
}

/*Add a color to the active/current link */
.nav a.activate{
    background-color: blue;
    color: white;
}